
/* import fonts from fonts.css file */ 
@import url(./fonts.css);


/* css variables */ 
@import url(./partials/_variables.css);

/* import global styling */ 
@import url(./partials/_global.css);
html {
    scroll-behavior: smooth;
  }




/* start navigation */ 



.header_area .main-menu .navbar .navbar-brand{
    padding: 0 2rem 0 5rem;
    
    /*logo*/
}

.header_area .main-menu .navbar .navbar-brand > img{
    width:80px;
    height: inherit;
}
.header_area .main-menu .navbar{
    padding: 1rem 20rem ;
    /*ระยะห่าง*/
}

.header_area .main-menu .nav-item .nav-link{
    font-weight: 500;
    text-transform: uppercase;
    padding: 1.5rem;
    color: var(--title-color);
    
}

.header_area .main-menu .navbar-nav .active a{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}

.header_area .main-menu .navbar-nav a:hover{
    background: var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    
}


/* end navigation */ 

/* Banner Area */ 

.site-main .site-banner {
    background: url('') no-repeat 0% 35%;
    
}


.site-main .site-banner .site-title h3::after{
    content: " ";
    height: 2px;
    width: 18vw;
    background: rgb(0, 0, 0);
    display: inline-block;
    margin-left: 5%;
    transform: translateY(-10px);
}

.site-main .site-banner .site-title h1{
    font-size:25px ;
    font-weight: 500;
    margin-top: 3%;
    color:white;
}

.site-main .site-banner .site-title h4{
    
    color: rgb(91, 87, 87);
    font-size: 18px;
    font-weight: 500;
    
}

.site-main .site-banner .banner-image > img{
    
    width: 800;
    height: 400;
}

.site-main .site-banner .banner-image2 >img{
    margin-top: 5%;
    width: 970px;
    height: inherit;
}




/* End Banner Area */ 


/* Start About Area */ 

.site-main .about-area{
    padding: 8rem 5rem;
}

.site-main .about-area .site-title h1{
    font-size:25px ;
    font-weight: 500;
    color:white;
}

.site-main .about-area .site-about h4{
    
    color: rgb(91, 87, 87);
    font-size: 18px;
    font-weight: 500;
    
}
.site-main .about-area .site-about h3{
    margin-top: 1%;
    color: rgb(53, 52, 52);
    font-size: 20px;
    font-weight: 500;
    
}
.site-main .about-area .site-about .map{
    margin-top: 2%;
    
}
.site-main .about-area .member-list .member-img >img{
    
    width: 300px;
    height: inherit;
}

.site-main .about-area .member-list .member-img >h5{
    margin-top: 2%;
}
.site-main .about-area .about-image >img{
    
    width: 250px;
    height: inherit;
}

.site-main .about-area .about-title h2 > span{
    display: block;
    font: normal bold 49px/ 60px var(--arial);
    letter-spacing: 20px;
}

/* End About Area */ 


/* Start service Area */ 




.site-main .service-area .service-title h1{
    font-size: 25px;
    font-weight: 500;
    color:white;
}

.site-main > .service-area .service{
    
    width: auto;
    margin: 3rem .5rem;
    transition: box-shadow .7s ease;
    
    background-color: rgb(51, 30, 119);
    background-clip: padding-box;
    font: normal 500 16px/20px var(--arial);
    
    height: auto;
    border:3px solid rgb(51, 30, 119);
    
    border-radius: 25px;

    color:whitesmoke;
    cursor: pointer;
    position: relative;
}

.site-main > .service-area .service:hover{
    box-shadow: var(--box-shadow);

    background: whitesmoke;
    background-clip: padding-box;
    transition: background .6s ease;
    border: 3px solid rgb(38, 25, 79);
    color:black;
}

.site-main .service-area .service .btn{
    color:white;
    background-color: rgb(51, 30, 119);
    border-radius: 3%;
}

.accordion {
    
    background-color: rgb(238, 238, 238);
    color: rgb(68, 68, 68);
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
  }
  
  .active2, .accordion:hover {
    background-color: rgb(42, 41, 151);
    color: white;
  }
  
  .accordion:after {
    content: '\002B';
    color: rgb(42, 41, 151);
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  .active2:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }
  

  .site-main .service-area .work-title h1{
    font-size: 35px;
    font-weight: 500;
    color:white;
}

.site-main .service-area h5{
    color:rgb(38, 25, 79);
    font-size: 15px;
    margin-top: 2;
}
.site-main > .service-area .work{
    background: rgba(213, 225, 250, 0.973);
    padding: 2rem 0;
    width: auto;
    height: auto;
    margin: 5rem .5rem;
    transition: box-shadow .1s ease;
    border-radius:10%;
}

.site-main > .service-area .work:hover{
    box-shadow: var(--box-shadow);

}

.site-main .service-area .work{
    width: 250px;
    height: 250px;
}

.site-main .service-area .work .work-img > img{
    width: 100px;
    height: 100px;
}
.site-main .service-area .grid .our-work .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 50px #b1afaf);
    /*icon*/
}
/*work Area */ 

.site-main .work-area .detail .btn{
    justify-content: center;
  align-items:flex-end;
  display: flex;
}

.site-main .work-area .work-title h1{
    font-size: 30px;
    font-weight: 500;
    color:white;
    
}

.site-main .work-area h5{
    color:rgb(38, 25, 79);
    font-size: 18px;
    margin-top: 2;
}
.site-main > .work-area .work{
    background: rgba(213, 225, 250, 0.973);
    padding: 2rem 0;
    width: auto;
    height: auto;
    margin: 5rem .5rem;
    transition: box-shadow .1s ease;
    border-radius:10%;
}

.site-main > .work-area .work:hover{
    box-shadow: var(--box-shadow);

}

.site-main .work-area .list-group .active{
    background-color: rgb(42, 41, 151);
    color:white;
    border-color: rgb(42, 41, 151);
}
.site-main .work-area .list-group-item:hover{
    background-color: rgb(42, 41, 151);
    color:white;
}

.site-main .work-area .work{
    width: 250px;
    height: 250px;
}

.site-main .work-area .work .work-img > img{
    width: 100px;
    height: 100px;
}
.site-main .work-area .grid .our-work .img a:hover img{
    filter: brightness(1.1) drop-shadow(1px 8px 50px #b1afaf);
    /*icon*/
}


/* End work Area */ 
/*detail area*/
.site-main .detail-area .detail .detail-img > img{
    
    align-items: center;
}
.site-main .detail-area .work-title h1{
    font-size: 30px;
    font-weight: 500;
    color:white;
    background-size: inherit;
    background-color: var(--primary-color);
    border:solid 2px var(--primary-color);
    border-radius: 10px;
    width: inherit;
}

.site-main .detail-area .detail >  a{
    font-size: 10px;
    font-weight: 500;
    color:var(--primary-color)

}


.site-main .detail-area .detail >  p{
    font-size: 15px;
    font-weight: 500;
    padding-left: 2%;
}

.site-main .detail-area .detail .green-text > p{
    color:rgb(8, 175, 94);
}

/*end detail*/
/* Subscribe me */ 


.site-main .subscribe-us-area{
    margin: top 0%;
}

.site-main .subscribe-us-area h4{
    color: rgb(33, 31, 31);
    font-size: 22px;
    font-weight: 500;
    margin-top: 5%;
    margin-left: 3%;
}
.site-main .subscribe-us-area h4>a{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 500;
    margin-top: 5%;
    margin-left: 3%;
}

.site-main .subscribe-us-area .contact-map{
    margin-top:10%;
    margin-right: 10%;
}

.site-main .subscribe-us-area h3{
    color: rgb(33, 31, 31);
    font-size: 22px;
    font-weight: 500;
    margin-top: 40px;
    width: 800px;
}

.site-main .subscribe-us-area a{
    color: rgb(94, 91, 91);
    font-size: 17px;
    font-weight: 500;
    text-align: start;
}

.site-main .subscribe-us-area .subscribe .subscribe-title h1{
    font-size: 25px;
    font-weight: 500;
    margin-left: auto;
    color:white;
}

.site-main .subscribe-us-area .contact .banner-image2 >img{
    
    width: 510px;
    height: inherit;
}

.site-main .subscribe-us-area .contact .banner-image1 >img{
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: start;
    width: 500px;
    height: inherit;
}

.site-main .subscribe-us-area .col-lg-3{
    display: flex;
    justify-content: center;
}


.site-main .subscribe-us-area .box{
    width: 250px;
    margin: 2px;
    transition: box-shadow .7s ease;
    
    background-color: rgb(51, 30, 119);
    background-clip: padding-box;
    font: normal 500 16px/20px var(--arial);
    
    height: auto;
    border:3px solid rgb(51, 30, 119);
    
    border-radius: 25px;
    text-align: center;
    color:whitesmoke;
    position:static;
}



/*form */
.site-main .subscribe-us-area .contact-img{
    width: 69px;
    height: inherit;
}

/* End subscribe me */ 

/* Footer Area */ 

footer.footer-area{
    background: url(../img/footer-bg.png) no-repeat;
    height:300px;
}

footer .footer-area .div-1 {
    margin-top: 100px;
    background-color: rgb(49, 25, 135);
    height:200px;
    width: 5000px;
}
footer .footer-area .div-1 a{
    color:white;
    height:100px;
    width:1400px;
    font-weight: bold;
    text-align: center;
}
footer .footer-area .div-1 p{
    padding-top:30px;
    padding-left: 70px;
    color:white;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
}

footer .footer-area .div-1 h5{
    padding-left: 70px;
    color:white;
    font-size: 16px;
    font-weight: bold;
    text-align: start;
}

footer.footer-area .div-1 img{
    margin-top: 20px;
    margin-left: 200px;
    width: 200px;
    height: inherit;
}

footer.footer-area img{
    width: 150px;
    height: inherit;
}
footer.footer-area .social h5{
    font: normal 500 23px/ 30px var(--arial);
}

footer.footer-area .social a > i{
    padding-top: 20px;
    font-size:20px;
    padding: 1rem 1rem 0rem 1rem ;
    color: rgb(203, 192, 192);
}

footer.footer-area .social a:hover > i{
    color: var(--primary-color);
}

footer .footer-area  h3{
    font-size: 16px;
    font-weight: 550;
    color: rgb(49, 25, 135);
}

footer .footer-area  h4{
    font-size: 12px;
    font-weight: 500
}

/* End Footer */ 